@{
    Layout = "~/Views/Shared/Layouts/_CustomLayout.cshtml";
    var importStatus = TempData["Status"]?.ToString();
}

<h2 style="margin-left:30px">Sync Order Status</h2>
<hr />

@if (!string.IsNullOrEmpty(importStatus))
{
    <p style="margin-left:30px; color: green;"><strong>Status:</strong> @importStatus</p>
}

<form method="post" enctype="multipart/form-data" action="/Ordersync/Update" style="margin-top: 20px;margin-left:20px">
    <div style="margin-bottom: 15px;">
        <label for="excelFile" style="display: inline-block;">Upload Excel File:</label>
        <input type="file" name="excelFile" accept=".xlsx" required />
    </div>

    <div style="margin-right: 90px">
        <button type="submit" class="epi-cmsButton-text epi-cmsButton-tools epi-cmsButton-Import">
            Upload & Sync Orders
        </button>
    </div>
</form>
